.container {
  margin-top: 50px;
  padding-top: 20px;
  border: 5px solid #8d99ae;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #edf2f4;
}

.input {
  margin-bottom: 10px;
}

.select {
  margin-right: 5px;
}

.result {
  font-size: x-large;
}
